html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "main-page"
        "resume"
        "contacts";
    grid-template-rows: 1fr;
}
/* MAIN-PAGE */
#main-page {
    grid-area: main-page;
    height: 100vh;
    text-align: center;
    padding: 5px 0 0;
}

.main {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#main-page .h1 {
    text-align: center;
    font-weight: 900;
    color: #e37218;
    font-size: 4em;
    margin: 20px 0;
}
#main-page h2 {
    margin: 0;
}

#main-page p {
    margin: 40px 0 10px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
}

#main-pp {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 360px;
}

#main-link {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.resume, .skills, .projects, .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 360px;
}

#main-link a {
    text-decoration: none;
    font-weight: bold;
}

.resume {
    background-color: #afe3e6;
}

.resume a {
    color: #70bbc0;
}

.resume:hover {
    background-color: white;
    border: 1px solid #afe3e6;
    color: #afe3e6;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

.skills {
    background-color: #b4c9e6;
}

.skills a {
    color: #6a8cbb;
}

.skills:hover {
    background-color: white;
    border: 1px solid #b4c9e6;
    color: #b4c9e6;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

.projects {
    background-color: #f2c29b;
}

.projects a {
    color: #bf7941;
}

.projects:hover {
    background-color: white;
    border: 1px solid #f2c29b;
    color: #f2c29b;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

.contacts {
    background-color: #f3acc0;
}

.contacts a {
    color: #bc5475;
}

.contacts:hover {
    background-color: white;
    border: 1px solid #f3acc0;
    color: #f3acc0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

/* RESUME-PAGE */
#resume {
    /* grid-area: resume; */
    height: 100vh;
    padding: 5px 0 0;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid gray;
    background-color: #dcdfe3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.resume-page {
    display: flex;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
}
.resume-pp {
    height: 100%;
    width: 40%;
}
.resume-pp .resume-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resume-profile {
    height: 100%;
    width: 60%;
}
.resume-profile h2 {
    color: #e37218;
}

.resume-about {
    position: relative;
    bottom: -30px;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    
}

.resume-isi {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* padding: 4em 0 0; */
    border-top: 1px solid gray;
}

@media only screen and (max-width: 1150px) {
    p {
        font-size: 14px;
    }
  }
  

.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 20vw;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 20vw;
}

.myskill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 20vw;
    line-height: 2;
}
/* CONTACT */
#contact {
    grid-area: contacts;
    height: 60vh;
}

.ct-page {
    width: 80%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
}
.ct-1{
    margin: 30px auto;
    width: 50vw;
    height: 40vh;
}
.ct-2{
    margin: 30px auto;
    width: 50vw;
    height: 40vh;
}
form {
    display: block;
}
.follow-me {
    width: 50%;
}

.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ct-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.ct-header {
    font-size: 3em;
}

.follow-me a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.follow-me p {
    margin-left: 30px;
}

/*  */
label {
    display: block;
    margin: 1.2rem 0;
}

form {
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 1rem 0;
    height: 30vh;
}

input,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding: 0.2em;
}